
/* Custom Variables
––––––––––––––––––––––––––––––––––– */
$navbar-height: 50px;
$base-height: 38px;

/*=======================================
=            Color Variables            =
=======================================*/

$transparent: transparent !important;
$green: #157A6E !important;
$green2: #7FC6A4 !important;
$green3: #28A745 !important;
$blue: #376996 !important;
$blue2: #B1D4D8 !important;
$steel: #D5E4E8 !important;
$dark-steel: #88A8AE !important;
$dark-blue: #14212F !important;
$light-gray: #BFC1BB !important;
$yellow: #FFE100 !important;

/*=====  End of Color Variables  ======*/

.text-green { color: $green; }
.text-blue { color: $blue; }
.text-steel { color: $steel; }
.text-dark-steel { color: $dark-steel; }
.text-light-gray { color: $light-gray; }
.text-yellow { color: $yellow; }
.bg-green {
  background-color: #43a047 !important;
  border-color: #43a047 !important;
}
.btn {
  &.bg-green,
  &.bg-success {
    background-color: $green;
    border-color: $green;
  }
}
.nav-tabs .nav-item.selected button {
  margin-bottom: -1px;
  background: #0091EA;
}
.selected {
  background: #0091EA;
}
.is-active .Button {
  background: #0091EA;
}

/*=====================================
=            Custom Styles            =
=====================================*/
*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background:#fff;
  font-size: 14px;
    font-weight: 400;
    letter-spacing: 0px;
    text-transform: none;
    // font-family: "Poppins", Helvetica, Arial, sans-serif;
    // font-family: "Proxima Nova",Helvetica,Arial,sans-serif;
    // font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-family: "Lato",Helvetica,Arial,sans-serif;
    // font-family: "Montserrat",Helvetica,Arial,sans-serif;
    // font-family: "Raleway",Helvetica,Arial,sans-serif;
}
body {
  // background: #f2f2f2;
  // font-family: "proxima-nova-soft", sans-serif;
  // font-size: 14px;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}
#root,
.App {
  height: 100%;
  min-height: 100%;
  position: relative;
}
main {
  height: auto;
  // padding-top: $navbar-height;
  position: relative;
  min-height: 100vh;
}

/* Page Layouts
––––––––––––––––––––––––––––––––––– */
.wrapper {
  height: 100%;
  min-height: 100%;
  padding-top: $navbar-height;
}
.page-wrapper {
  height: 100%;
}
.section {
  // padding: 40px 0;

  &.section-sm {
    padding: 20px 0;
  }
  &.section-lg {
    padding: 80px 0;
  }
}


//----------  BG Corver Image  ----------//
// Background image
.bg-image-cover {
  // height: 100%;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1501785888041-af3ef285b470?w=1350&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
  // background-image: url(https://images.unsplash.com/photo-1470290282174-30ea78123183?w=1350&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
  // background-image: url(https://images.unsplash.com/reserve/GBjvTQTou2D0KTHomMoA_IMG_1568.JPG?w=1340&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
  // background-image: url(https://images.unsplash.com/photo-1436491865332-7a61a109cc05?w=1353&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: table;
  width: 100%;
}
.overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.4;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    // max-width: 720px;
    max-width: 90%;
  }
}

@media (min-width: 992px) {
  .container {
    // max-width: 960px;
    max-width: 90%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}


/* Logos
––––––––––––––––––––––––––––––––––– */

.logo {
  height: 30px;
  border-radius: 1px;
}

.logo-lg {
  height: 100px;
  border-radius: 1px;
}
.logo-icon-font {
  font-size: 48px;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 5px;
  line-height: 60px;
  vertical-align: middle;
  height: 64px;
  width: 64px;
  margin-bottom: 30px;
}


/* Navbar
––––––––––––––––––––––––––––––––––– */

.navbar {
  padding: 0;
  height: $navbar-height;
  background: #FFF;
  background: rgba(256,256,256,0.95);
  border-bottom: 1px solid #dce0e0;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

/* Top Bar
––––––––––––––––––––––––––––––––––– */
.top-bar {
  border-bottom: 2px solid #efefef;
  // border-radius: 5px;
  // border: 2px solid #efefef;
  // background-color: #fafafa;
  // margin-top: 30px;
  // margin-bottom: 20px;
  .panel {
    padding: 0;
    // border: 1px solid #efefef;
  }
  h2,
  .title {
    margin-bottom: 0px;
  }
  h6 {
    text-transform: uppercase;
    color: #88A8AE;
    font-size: 12px;
  }
}

/* Tagline
––––––––––––––––––––––––––––––––––– */
.tagline {
  padding: 0 0 10px 0;
  color: #fff;
  font-family: "Montserrat";
  .lead {
    font-size: 24px;
  }
  h1 {
    font-weight: 800;
    font-size: 2.875em;
  }
  h2 {
    font-size: 2.1875em;
  }
}

/* Button
––––––––––––––––––––––––––––––––––– */
.btn,
button {
  cursor: pointer;
  border-radius: 3px;
}
button:focus {
  outline: none;
  outline: 0;
  // outline: 5px auto -webkit-focus-ring-color;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  height: $base-height;
  // border-radius: .25rem;
  border-radius: 2px;
  transition: all .15s ease-in-out;
  background-color: #009B40;

  &:focus,
  &:hover {
    text-decoration: none;
  }
  &.foucs,
  &:focus {
    outline: 0;
    box-shadow: none;
  }
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  &:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
  }
  &.focus,
  &:focus {
    box-shadow: none;
  }
  &.active,
  &:active {
    background-color: #0069d9;
    background-image: none;
    border-color: #0062cc;
  }
}

select {
  cursor: pointer;
}

/*=============================================
  Cards
=============================================*/

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 1px;

  // z-index: 1;
  // display: block;
  background: #FFFFFF;
  // min-height: 470px;
  // height: 470px;
  // -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  // -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  // box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.card-img-wrap {
  height: 180px;
  overflow: hidden;
  border-radius: 1px;
  min-height: 180px;
  display: block;
  // display: flex;
  position: relative;
  img {
    width: 100%;
    height: auto;
    min-height: 180px;
    border-radius: 0;
  }
  .card-img-overlay {
    position: absolute;
    padding: 15px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    // background-color: #000;
    background-color: rgba(0, 0, 0, 0.25);
    transition: ease all .3s;
    &:hover {
      background-color: transparent;
      transition: ease all .3s;
    }
  }
}

.card-body {
  min-height: 130px;
  padding: 15px;
}

.card {
  i {
    // font-size: 18px;
    // margin-right: 5px;
  }
  p.card-text {
    margin-bottom: 0;
  }
  p {
    &.price,
    &.rating,
    &.phone,
    &.name,
    &.address1,
    &.address2 {
      margin-bottom: 0;
    }
    &.address2 {
      margin-bottom: 10px;
    }
    &.name {
      font-size: 21px;
      line-height: 24px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    &.price {
      letter-spacing: 1px;
      font-size: 18px;
    }
    &.rating {
      font-size: 18px;
    }
    &.phone {
      font-size: 14px;
    }
  }
}

.card-footer {
  // padding: .75rem 1.25rem;
  padding: 10px;
  background-color: rgba(0,0,0,.03);
  border-top: 1px solid rgba(0,0,0,.125);
  background-color: #fff;
}

/*=====  End of Card  ======*/
.badge {
  display: inline-block;
  // padding: .25em .4em;
  padding: 5px 10px;

  // font-size: 75%;
  font-size: 100%;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  // border-radius: .25rem;
  border-radius: 2px;
  position: absolute;

  &.badge-top-right {
    top: 10px;
    right: 10px;
  }
  &.badge-bottom-right {
    bottom: 10px;
    right: 10px;
  }
  &.badge-bottom-left {
    bottom: 10px;
    left: 10px;
  }
  &.badge-top-left {
    top: 10px;
    left: 10px;
  }
}

/* Forms
––––––––––––––––––––––––––––––––––– */
form {
  background: #fff;
}

.form-control {
  display: block;
  width: 100%;
  // padding: .5rem .75rem;
  padding: 0 .75rem;
  // font-size: 1rem;
  // line-height: 1.25;
  line-height: $base-height - 2;
  color: #141414;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  height: $base-height;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

  &:focus{
    color: #495057;
    background-color: #fff;
    border-color: #0082CA;
    border-width: 1px;
    outline: 0;
  }
}
.input-group-addon {
  padding: .5rem .75rem;
  margin-bottom: 0;
  // font-size: 1rem;
  font-weight: 400;
  // line-height: 1.25;
  color: #495057;
  text-align: center;
  // background-color: #e9ecef;
  background-color: transparent;
  // border: 1px solid rgba(0,0,0,.15);
  border: 1px solid rgba(0,0,0,.15);
  // border-radius: .25rem;
  border-radius: 30px;
}
.form-control-feedback {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 36px;
  font-size: 21px;
  height: $base-height;
  line-height: $base-height;
  text-align: center;
  pointer-events: none;
  i {
    font-size: 18px;
    color: #50656B;
  }
  &.icon-right {
    right: 0;
  }
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
  height: $base-height;
}

.form-group {
  margin-bottom: 20px;
  position: relative;
}
.form-horizontal .form-group {
  margin-left: -10px;
  margin-right: -10px;
}
.form-horizontal .form-group .form-group {
  margin-left: 0;
  margin-right: 0;
}
.has-feedback-left .form-control {
  padding-right: 12px;
  padding-left: 36px;
}
.form-group {
  @media (min-width: 992px) {
    margin-bottom: 0;
  }
}

/* Nav Tabs
––––––––––––––––––––––––––––––––––– */
.nav-link {
  display: block;
  padding: 1rem .8rem;
}
.nav-tabs {

  button {
    &:active,
    &:focus {
      outline: none;
    }
  }

  .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .1rem;
    border-top-right-radius: .1rem;
    background-color: #fafafa;
    color: #888;
    border-left: 0;
    border-right: 0;
    border: 1px solid #efefef;
    &:focus,
    &:hover {
      border-bottom-color: transparent;
      background-color: #efefef;
    }
  }
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #555;
  background-color: #fff;
  border-color: #ddd;
  border-top: 2px solid #2196F3;
}

.page-content {
  // padding: 30px 15px;
  padding: 0;
}

.tab-content {
  // box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.demo-title {
  margin: 0 0 15px;
  color: #666666;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.info {
  width: 300px;
  margin: 50px auto;
  text-align: center;
}
.info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}
.info span {
  color: #666666;
  font-size: 12px;
}
.info span a {
  color: #000000;
  text-decoration: none;
}
.info span .fa {
  color: #e74c3c;
}

/* =====================================
   Map
   ===================================== */
#map {
  height: 300px;
  width: 100%;
  // border: 2px solid #fff;
 }
 .info-window {
  width: 100%;
  max-width: 300px;
  min-width: 250px;
 }
.info-window {
  p,
  h6 {
    margin-bottom: 0;
  }
  img {
    width: 100%;
    height: 100px;
  }
}

.details-section .tripdetails-biz {
  border: 1px solid #efefef;
  margin-bottom: 20px;
  overflow: hidden;
}

.details-section{

  .tripdetails-biz {
    border: 1px solid #efefef;
    margin-bottom: 20px;
    overflow: hidden;


   @media (min-width: 768px) {
     .col-md-8,
     .col-md-4 {
       // padding-left: 0;
       // padding-right: 0;
     }
   }
    .card-img-top {
      // width: 200px;
      // position: relative;
      height: 160px;
      display: block;
      overflow: hidden;
      padding: 10px;
      // float: left;
    }
    .card-body {
      padding: 15px 0;
      // display: block;
      // float: right;
      position: relative;
    }

    p { margin-bottom: 0;}

    .img-wrap {
      height: 180px;
      overflow: hidden;
      border-radius: 1px;
      min-height: 180px;
      // width: 200px;
      display: block;
      position: relative;

    }
    .img-overlay {
      position: absolute;
      height: 100%;
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0.15);
      z-index: 2;
      width: 100%;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
      .tripdetails-biz-name{
        font-weight: bold;
        font-size: 24px;
      }
      .tripdetails-biz-address1 {
        font-size: 16px;
      }
      .tripdetails-biz-address2 {

      }
      .tripdetails-biz-phone{
        color: #376996;
      }
      .tripdetails-biz-price{
      }
      .tripdetails-biz-rating {
        // font-weight: bold;
        font-size: 18px;
        position: absolute;
        color: #fff;
        top: 15px;
        left: 15px;
      }
  }
}

// .tripdetails-biz {
//   border: 1px solid #efefef;
//   margin-bottom: 20px;
//   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
//     img {
//       width: 100%;
//       height: auto;
//       min-height: 180px;
//       border-radius: 0;
//     }
//     .tripdetails-biz-info{
//         padding: 10px;

//       p {
//         margin-bottom: 0;
//       }
//       .tripdetails-biz-name {
//         font-size: 24px;
//       }
//       .tripdetails-biz-phone {

//       }

//       .tripdetails-biz-price {

//       }
//       .address1 {}
//       .address2 {}
//     }
// }

/*=============================================
=            React Date Picker                =
=============================================*/

.react-date-picker__calendar--closed {
  display: none;
}
.react-date-picker {
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 100%;

  .react-date-picker__button__input {
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -ms-flexbox;
    display: flex;
    padding: 0 2px;
    height: 36px;
    background-color: transparent;
  }


  .react-date-picker__button {
    min-width: 100%;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #ddd;
    width: 100%;
    text-align: right;
    // background-color: #efefef;
  }

  .react-date-picker__button__icon {
    border: 0;
    // background: transparent;
    background: #fff;
    padding: 4px 6px;
    width: 100%;
    right: 0;
    position: relative;
    &:active,
    &:focus {
      outline: none;
      // background:#efefef;
    }
  }
  .react-date-picker__button__icon svg {
    display: inherit;
    float: right;
  }
  .btn {
    height: 100%;
    position: absolute;
    bottom: 0;
    display: block;
  }

}
.react-date-picker__button__input form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
  align-items: baseline;
  height: 100%;
  background-color: transparent;
}
.react-date-picker__button__input input {
  min-width: 9px;
  height: 100%;
  padding: 1px;
  border: 0;
  background-color: transparent;
  -moz-appearance: textfield;

  &:invalid {
    background: transparent !important;
  }
}

.react-date-picker__calendar {
  width: 100%;
  // max-width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 3000;
  background-color:#fff;
  display: block;
}

.react-date-picker__calendar {
  .react-calendar {
    // border: 1px solid #efefef;
    border: 1px solid #fff;
    z-index: 3000;
    position: absolute;
    width: 100%;
    background:#fff;
    transition: .25s;
    box-shadow: rgba(0, 0, 0, 0.247059) 0px 14px 45px,
         rgba(0, 0, 0, 0.219608) 0px 10px 18px;
  }
  .react-calendar button {
    border: 0;
    outline: none;
    border-radius: 2px;
  }
  .react-calendar__tile {
    max-width: 100%;
    text-align: center;
    padding: .75em .5em;
    background: none;
  }

  .react-calendar__tile--active {
    background: #006edc;
    color: white;
  }
  .react-date-picker__calendar--closed {
    // display: none;
    display: block;
  }

  .react-calendar__tile--active {
    background: #28A745;
    color: white;
  }
  button.react-calendar__tile--active:not([disabled]):hover {
    background: #28A745;
  }
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;

    // background: $green3;
    font-size: 16px;
    font-weight: 400;
  }
  button.react-calendar__tile:not([disabled]):hover {
    background-color: #e6e6e6;
  }
  .react-calendar__month-view__days__day--weekend {
    color: red;
  }
}

/*----------  Subsection comment block  ----------*/

@media (min-width: 768px) {
  .form-group {
    margin-bottom: 0;
  }
}


button.btn {
  // position: absolute;
  // vertical-align: botton;
  // bottom: 0;
  // width: 100%;
}


/* Panel
––––––––––––––––––––––––––––––––––– */
.panel {
  background: #fff;
  // background: rgba(255, 255, 255, 0.72);
  border-radius: 3px;
  // border-color: #A7B1BB;
  padding: 20px;
}








/*==================================
  Color Helper Classes
==================================*/

.bg-transparent {
  background-color: $transparent;
}


/*=====  End of Color Helper Classes  ======*/






/*=============================================
=            Section comment block            =
=============================================*/
footer{
  position: absolute;
  height: 30px
}

.footer {
  position: absolute;
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  background-color: #14212F;
  // color: #fff;
  a {
    color: #fff;
  }
  .nav-link {
    padding: 0;
    line-height: 40px;
  }
}


/*=====  End of Section comment block  ======*/


/* ===========================================
EMERGENCY STYLING
=========================================== */

/* VARIABLES */

/* COLORS */
$av-green: #157A6E;
$av-green2: #00935B;
$av-green3: #7FC6A4;
$av-blue: #376996;
$av-blue2: #93D1D8;

/* GENERAL STYLING */
body {
  font-family: 'Roboto', sans-serif;
}
/* HOME PAGE */
.home-wrapper {
  img {
    height: 100%;
  }
  .home-form-container {
    .home-form-btn {
      background-color: $av-green2;
    }
    .home-form-btn:hover {
      background-color: $av-green;
    }
  }
}

/* TRIP DETAILS PAGE */
.trip-details-wrapper {
  background-color: $av-blue2;
}

.dest-container {

  .panel {
    background-color: inherit;
  }
}

.trip-details-container {
  background-color: white;
  padding: 1% 3%;
  .trip-details-btn {
    background-color: $av-green2;
  }
  .trip-details-btn:hover{
    background-color: $av-green;
  }

  .trip-details-label {
    font-weight: bold;
    font-size: 18px;
  }

  .trip-details-info {
    font-weight: bold;
    font-size: 18px;
    span {
      font-weight: normal;
    }
  }

  .details-find-btn {
    background-color: $av-green2;
    padding: 2% 5%;
    width: 350px;
    height: 60px;
  }
  .details-find-btn:hover{
    background-color: $av-green;
  }

  .tripdetails-biz {
    padding: 1%;
    border: 1px solid $av-blue;
    display: flex;
    img {
      height: 100%;
    }
    div {
      font-size: 16px;
      padding: 2% 3%;
      margin: 2% 2%;
      display: flex;
      flex-direction: column;
      .tripdetails-biz-name{
        font-size: 17px;
      }
      .star-container{
        margin: 0.5% 0;
        padding: 1% 0;
        display: flex;
        flex-direction: row;
        font-size: 20px;
        .fa-star {
          color: khaki;
        }
        .fa-star-half-o{
          color: khaki;
        }
      }
    }
  }
}

/* SEARCH PAGES */
.search-wrapper {
  background-color: $av-blue2;
}

.card-container {
  margin-top: 1%;
  .card-rating-price{
    display: flex;
    justify-content: space-between;
    p{
      font-weight: bold;
    }
    .star-container{
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      font-size: 20px;
      .fa-star {
        color: khaki;
      }
      .fa-star-half-o{
        color: khaki;
      }
    }
  }
  .card-name{
    font-weight: bold;
  }
  .card-phone{
    color: $av-blue;
  }
  .card-footer{
    margin: 0 2%;
    display: flex;
    justify-content: space-between;
    .card-btn{
      width: 47%;
      margin: 0;
      background-color: $av-green2;
    }
    .card-btn:hover{
      background-color: $av-green;
    }
  }
}
