@charset "UTF-8";
/* Custom Variables
––––––––––––––––––––––––––––––––––– */
html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  padding-top: 50px;
  height: 100%;
  background: #fff;
  background: #F3F3F3; }

main {
  padding-top: 50px;
  padding-bottom: 100px; }

/* Logos
––––––––––––––––––––––––––––––––––– */
.logo {
  height: 30px;
  border-radius: 1px; }

.logo-lg {
  height: 100px;
  border-radius: 1px; }

/* Navbar
––––––––––––––––––––––––––––––––––– */
.navbar {
  padding: 0;
  height: 50px;
  border-bottom: 1px solid #e5e5e5;
  background: #FFF; }

/* Top Bar
––––––––––––––––––––––––––––––––––– */
.top-bar {
  margin-bottom: 40px; }
  .top-bar .title {
    margin-bottom: 0px; }

/* Tagline
––––––––––––––––––––––––––––––––––– */
.tagline {
  padding: 0 0 10px 0; }

/* Form
––––––––––––––––––––––––––––––––––– */
form {
  background: #fff; }

/* Button
––––––––––––––––––––––––––––––––––– */
.btn,
button {
  cursor: pointer;
  border-radius: 3px; }

select {
  cursor: pointer; }

/* Model
––––––––––––––––––––––––––––––––––– */
.background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.window {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 2px #222;
  max-width: 500px;
  min-height: 300px;
  padding: 20px; }

.window {
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 2px #222;
  box-shadow: 0px 4px 6px rgba(34, 34, 34, 0.25);
  max-width: 400px;
  min-height: 300px;
  padding: 20px;
  border: 1px solid #fff;
  width: 40%; }

.open-modal,
.close {
  font-size: 1em;
  cursor: pointer; }

.close,
button.close {
  margin-bottom: 20px;
  padding: 0;
  border: 0;
  -webkit-appearance: none;
  background-color: #E53D00;
  border-radius: 3px;
  font-size: 14px;
  padding: 10px 20px;
  text-shadow: none;
  opacity: 1;
  color: #fff; }
  .close:focus, .close:hover,
  button.close:focus,
  button.close:hover {
    background-color: #ca3600;
    color: #fff;
    text-decoration: none;
    outline: none; }

.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  opacity: 1;
  outline: none; }

.modal {
  display: block;
  z-index: 3000;
  height: 80%;
  width: 70%;
  vertical-align: middle;
  top: 10%;
  z-index: 3100; }
  .modal button {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: inline-block; }

.btn-info.focus,
.btn-info:focus {
  box-shadow: none; }

@media (min-width: 992px) {
  .form-group {
    margin-bottom: 0; } }

.cards {
  text-transform: capitalize; }

/* Nav Tabs
––––––––––––––––––––––––––––––––––– */
.nav-link {
  display: block;
  padding: .8rem 1.5rem; }

.nav-tabs button:active, .nav-tabs button:focus {
  outline: none; }
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .1rem;
  border-top-right-radius: .1rem;
  background-color: #fafafa;
  color: #888;
  border-left: 0;
  border-right: 0;
  border: 1px solid #efefef; }
  .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-bottom-color: transparent;
    background-color: #efefef; }

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #555;
  background-color: #fff;
  border-color: #ddd;
  border-top: 2px solid #2196F3; }

.page-content {
  padding: 0; }

/* Card
––––––––––––––––––––––––––––––––––– */
.card .card-body {
  min-height: 130px; }

p.card-text {
  margin-bottom: 0; }
  p.card-text.price {
    font-size: 18px; }
  p.card-text.phone {
    font-size: 14px; }
  p.card-text.title {
    font-size: 16px; }

.card-footer {
  padding: .75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #fff; }

.card-img-wrap {
  height: 180px;
  overflow: hidden;
  border-radius: 1px;
  min-height: 180px; }
  .card-img-wrap img {
    width: 100%;
    height: auto;
    min-height: 180px; }

#map {
  height: 400px;
  width: 100%; }

.info-window {
  width: 100%;
  max-width: 300px;
  min-width: 250px; }

.info-window p,
.info-window h6 {
  margin-bottom: 0; }
.info-window img {
  width: 100%;
  height: 100px; }

.details-section .tripdetails-biz {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px solid black;
  margin: 1% 0;
  padding: 1% 0; }
  .details-section .tripdetails-biz img {
    height: 100%; }
  .details-section .tripdetails-biz .tripdetails-biz-info p {
    margin: 0.5%; }
  .details-section .tripdetails-biz .tripdetails-biz-info .tripdetails-biz-name {
    font-weight: bold; }
  .details-section .tripdetails-biz .tripdetails-biz-info .tripdetails-biz-phone {
    color: #376996; }
  .details-section .tripdetails-biz .tripdetails-biz-info .tripdetails-biz-price {
    font-weight: bold;
    font-size: 25px; }

/*=============================================
=            React Date Picker                =
=============================================*/
.react-date-picker__calendar--closed {
  display: none; }

.react-date-picker {
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 100%; }
  .react-date-picker .react-date-picker__button__input {
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -ms-flexbox;
    display: flex;
    padding: 0 2px;
    height: 36px;
    background-color: transparent; }
  .react-date-picker .react-date-picker__button {
    min-width: 100%;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #ddd;
    width: 100%;
    text-align: right; }
  .react-date-picker .react-date-picker__button__icon {
    border: 0;
    background: #fff;
    padding: 4px 6px;
    width: 100%;
    right: 0;
    position: relative; }
    .react-date-picker .react-date-picker__button__icon:active, .react-date-picker .react-date-picker__button__icon:focus {
      outline: none; }
  .react-date-picker .react-date-picker__button__icon svg {
    display: inherit;
    float: right; }
  .react-date-picker .btn {
    height: 100%;
    position: absolute;
    bottom: 0;
    display: block; }

.react-date-picker__button__input form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
  align-items: baseline;
  height: 100%;
  background-color: transparent; }

.react-date-picker__button__input input {
  min-width: 9px;
  height: 100%;
  padding: 1px;
  border: 0;
  background-color: transparent;
  -moz-appearance: textfield; }
  .react-date-picker__button__input input:invalid {
    background: transparent !important; }

.react-date-picker__calendar {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 3000;
  background-color: #fff;
  display: block; }

.react-date-picker__calendar .react-calendar {
  border: 1px solid #efefef;
  z-index: 3000;
  position: absolute;
  width: 100%;
  background: #fff;
  transition: .25s; }

/*----------  Subsection comment block  ----------*/
@media (min-width: 768px) {
  .form-group {
    margin-bottom: 0; } }
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 1px;
  display: block;
  background: #FFFFFF;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s; }
  .card .card-body {
    padding: 15px; }
  .card .card-footer {
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 0;
    background-color: #fff; }

/*# sourceMappingURL=App.css.map */
