@charset "UTF-8";
/* Custom Variables
––––––––––––––––––––––––––––––––––– */
/*=======================================
=            Color Variables            =
=======================================*/
/*=====  End of Color Variables  ======*/
.text-green {
  color: #157A6E !important; }

.text-blue {
  color: #376996 !important; }

.text-steel {
  color: #D5E4E8 !important; }

.text-dark-steel {
  color: #88A8AE !important; }

.text-light-gray {
  color: #BFC1BB !important; }

.text-yellow {
  color: #FFE100 !important; }

.bg-green {
  background-color: #43a047 !important;
  border-color: #43a047 !important; }

.btn.bg-green, .btn.bg-success {
  background-color: #157A6E !important;
  border-color: #157A6E !important; }

.nav-tabs .nav-item.selected button {
  margin-bottom: -1px;
  background: #0091EA; }

.selected {
  background: #0091EA; }

.is-active .Button {
  background: #0091EA; }

/*=====================================
=            Custom Styles            =
=====================================*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  min-height: 100%; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #fff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: none;
  font-family: "Lato",Helvetica,Arial,sans-serif; }

#root,
.App {
  height: 100%;
  min-height: 100%;
  position: relative; }

main {
  height: auto;
  position: relative;
  min-height: 100vh; }

/* Page Layouts
––––––––––––––––––––––––––––––––––– */
.wrapper {
  height: 100%;
  min-height: 100%;
  padding-top: 50px; }

.page-wrapper {
  height: 100%; }

.section.section-sm {
  padding: 20px 0; }
.section.section-lg {
  padding: 80px 0; }

.bg-image-cover {
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1501785888041-af3ef285b470?w=1350&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: table;
  width: 100%; }

.overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.4;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }
@media (min-width: 768px) {
  .container {
    max-width: 90%; } }
@media (min-width: 992px) {
  .container {
    max-width: 90%; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0; }

/* Logos
––––––––––––––––––––––––––––––––––– */
.logo {
  height: 30px;
  border-radius: 1px; }

.logo-lg {
  height: 100px;
  border-radius: 1px; }

.logo-icon-font {
  font-size: 48px;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 5px;
  line-height: 60px;
  vertical-align: middle;
  height: 64px;
  width: 64px;
  margin-bottom: 30px; }

/* Navbar
––––––––––––––––––––––––––––––––––– */
.navbar {
  padding: 0;
  height: 50px;
  background: #FFF;
  background: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid #dce0e0;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1); }

/* Top Bar
––––––––––––––––––––––––––––––––––– */
.top-bar {
  border-bottom: 2px solid #efefef; }
  .top-bar .panel {
    padding: 0; }
  .top-bar h2,
  .top-bar .title {
    margin-bottom: 0px; }
  .top-bar h6 {
    text-transform: uppercase;
    color: #88A8AE;
    font-size: 12px; }

/* Tagline
––––––––––––––––––––––––––––––––––– */
.tagline {
  padding: 0 0 10px 0;
  color: #fff;
  font-family: "Montserrat"; }
  .tagline .lead {
    font-size: 24px; }
  .tagline h1 {
    font-weight: 800;
    font-size: 2.875em; }
  .tagline h2 {
    font-size: 2.1875em; }

/* Button
––––––––––––––––––––––––––––––––––– */
.btn,
button {
  cursor: pointer;
  border-radius: 3px; }

button:focus {
  outline: none;
  outline: 0; }

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  height: 38px;
  border-radius: 2px;
  transition: all .15s ease-in-out;
  background-color: #009B40; }
  .btn:focus, .btn:hover {
    text-decoration: none; }
  .btn.foucs, .btn:focus {
    outline: 0;
    box-shadow: none; }

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff; }
  .btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc; }
  .btn-primary.focus, .btn-primary:focus {
    box-shadow: none; }
  .btn-primary.active, .btn-primary:active {
    background-color: #0069d9;
    background-image: none;
    border-color: #0062cc; }

select {
  cursor: pointer; }

/*=============================================
  Cards
=============================================*/
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 1px;
  background: #FFFFFF;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s; }

.card-img-wrap {
  height: 180px;
  overflow: hidden;
  border-radius: 1px;
  min-height: 180px;
  display: block;
  position: relative; }
  .card-img-wrap img {
    width: 100%;
    height: auto;
    min-height: 180px;
    border-radius: 0; }
  .card-img-wrap .card-img-overlay {
    position: absolute;
    padding: 15px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.25);
    transition: ease all .3s; }
    .card-img-wrap .card-img-overlay:hover {
      background-color: transparent;
      transition: ease all .3s; }

.card-body {
  min-height: 130px;
  padding: 15px; }

.card p.card-text {
  margin-bottom: 0; }
.card p.price, .card p.rating, .card p.phone, .card p.name, .card p.address1, .card p.address2 {
  margin-bottom: 0; }
.card p.address2 {
  margin-bottom: 10px; }
.card p.name {
  font-size: 21px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 10px; }
.card p.price {
  letter-spacing: 1px;
  font-size: 18px; }
.card p.rating {
  font-size: 18px; }
.card p.phone {
  font-size: 14px; }

.card-footer {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #fff; }

/*=====  End of Card  ======*/
.badge {
  display: inline-block;
  padding: 5px 10px;
  font-size: 100%;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 2px;
  position: absolute; }
  .badge.badge-top-right {
    top: 10px;
    right: 10px; }
  .badge.badge-bottom-right {
    bottom: 10px;
    right: 10px; }
  .badge.badge-bottom-left {
    bottom: 10px;
    left: 10px; }
  .badge.badge-top-left {
    top: 10px;
    left: 10px; }

/* Forms
––––––––––––––––––––––––––––––––––– */
form {
  background: #fff; }

.form-control {
  display: block;
  width: 100%;
  padding: 0 .75rem;
  line-height: 36px;
  color: #141414;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: .25rem;
  height: 38px;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #0082CA;
    border-width: 1px;
    outline: 0; }

.input-group-addon {
  padding: .5rem .75rem;
  margin-bottom: 0;
  font-weight: 400;
  color: #495057;
  text-align: center;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 30px; }

.form-control-feedback {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 36px;
  font-size: 21px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  pointer-events: none; }
  .form-control-feedback i {
    font-size: 18px;
    color: #50656B; }
  .form-control-feedback.icon-right {
    right: 0; }

select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
  height: 38px; }

.form-group {
  margin-bottom: 20px;
  position: relative; }

.form-horizontal .form-group {
  margin-left: -10px;
  margin-right: -10px; }

.form-horizontal .form-group .form-group {
  margin-left: 0;
  margin-right: 0; }

.has-feedback-left .form-control {
  padding-right: 12px;
  padding-left: 36px; }

@media (min-width: 992px) {
  .form-group {
    margin-bottom: 0; } }

/* Nav Tabs
––––––––––––––––––––––––––––––––––– */
.nav-link {
  display: block;
  padding: 1rem .8rem; }

.nav-tabs button:active, .nav-tabs button:focus {
  outline: none; }
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .1rem;
  border-top-right-radius: .1rem;
  background-color: #fafafa;
  color: #888;
  border-left: 0;
  border-right: 0;
  border: 1px solid #efefef; }
  .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-bottom-color: transparent;
    background-color: #efefef; }

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #555;
  background-color: #fff;
  border-color: #ddd;
  border-top: 2px solid #2196F3; }

.page-content {
  padding: 0; }

.demo-title {
  margin: 0 0 15px;
  color: #666666;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase; }

.info {
  width: 300px;
  margin: 50px auto;
  text-align: center; }

.info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333333; }

.info span {
  color: #666666;
  font-size: 12px; }

.info span a {
  color: #000000;
  text-decoration: none; }

.info span .fa {
  color: #e74c3c; }

/* =====================================
   Map
   ===================================== */
#map {
  height: 300px;
  width: 100%; }

.info-window {
  width: 100%;
  max-width: 300px;
  min-width: 250px; }

.info-window p,
.info-window h6 {
  margin-bottom: 0; }
.info-window img {
  width: 100%;
  height: 100px; }

.details-section .tripdetails-biz {
  border: 1px solid #efefef;
  margin-bottom: 20px;
  overflow: hidden; }

.details-section .tripdetails-biz {
  border: 1px solid #efefef;
  margin-bottom: 20px;
  overflow: hidden; }
  .details-section .tripdetails-biz .card-img-top {
    height: 160px;
    display: block;
    overflow: hidden;
    padding: 10px; }
  .details-section .tripdetails-biz .card-body {
    padding: 15px 0;
    position: relative; }
  .details-section .tripdetails-biz p {
    margin-bottom: 0; }
  .details-section .tripdetails-biz .img-wrap {
    height: 180px;
    overflow: hidden;
    border-radius: 1px;
    min-height: 180px;
    display: block;
    position: relative; }
  .details-section .tripdetails-biz .img-overlay {
    position: absolute;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 2;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0; }
  .details-section .tripdetails-biz .tripdetails-biz-name {
    font-weight: bold;
    font-size: 24px; }
  .details-section .tripdetails-biz .tripdetails-biz-address1 {
    font-size: 16px; }
  .details-section .tripdetails-biz .tripdetails-biz-phone {
    color: #376996; }
  .details-section .tripdetails-biz .tripdetails-biz-rating {
    font-size: 18px;
    position: absolute;
    color: #fff;
    top: 15px;
    left: 15px; }

/*=============================================
=            React Date Picker                =
=============================================*/
.react-date-picker__calendar--closed {
  display: none; }

.react-date-picker {
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 100%; }
  .react-date-picker .react-date-picker__button__input {
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -ms-flexbox;
    display: flex;
    padding: 0 2px;
    height: 36px;
    background-color: transparent; }
  .react-date-picker .react-date-picker__button {
    min-width: 100%;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #ddd;
    width: 100%;
    text-align: right; }
  .react-date-picker .react-date-picker__button__icon {
    border: 0;
    background: #fff;
    padding: 4px 6px;
    width: 100%;
    right: 0;
    position: relative; }
    .react-date-picker .react-date-picker__button__icon:active, .react-date-picker .react-date-picker__button__icon:focus {
      outline: none; }
  .react-date-picker .react-date-picker__button__icon svg {
    display: inherit;
    float: right; }
  .react-date-picker .btn {
    height: 100%;
    position: absolute;
    bottom: 0;
    display: block; }

.react-date-picker__button__input form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
  align-items: baseline;
  height: 100%;
  background-color: transparent; }

.react-date-picker__button__input input {
  min-width: 9px;
  height: 100%;
  padding: 1px;
  border: 0;
  background-color: transparent;
  -moz-appearance: textfield; }
  .react-date-picker__button__input input:invalid {
    background: transparent !important; }

.react-date-picker__calendar {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 3000;
  background-color: #fff;
  display: block; }

.react-date-picker__calendar .react-calendar {
  border: 1px solid #fff;
  z-index: 3000;
  position: absolute;
  width: 100%;
  background: #fff;
  transition: .25s;
  box-shadow: rgba(0, 0, 0, 0.247059) 0px 14px 45px, rgba(0, 0, 0, 0.219608) 0px 10px 18px; }
.react-date-picker__calendar .react-calendar button {
  border: 0;
  outline: none;
  border-radius: 2px; }
.react-date-picker__calendar .react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: .75em .5em;
  background: none; }
.react-date-picker__calendar .react-calendar__tile--active {
  background: #006edc;
  color: white; }
.react-date-picker__calendar .react-date-picker__calendar--closed {
  display: block; }
.react-date-picker__calendar .react-calendar__tile--active {
  background: #28A745;
  color: white; }
.react-date-picker__calendar button.react-calendar__tile--active:not([disabled]):hover {
  background: #28A745; }
.react-date-picker__calendar .react-calendar__navigation button {
  min-width: 44px;
  background: none;
  font-size: 16px;
  font-weight: 400; }
.react-date-picker__calendar button.react-calendar__tile:not([disabled]):hover {
  background-color: #e6e6e6; }
.react-date-picker__calendar .react-calendar__month-view__days__day--weekend {
  color: red; }

/*----------  Subsection comment block  ----------*/
@media (min-width: 768px) {
  .form-group {
    margin-bottom: 0; } }
/* Panel
––––––––––––––––––––––––––––––––––– */
.panel {
  background: #fff;
  border-radius: 3px;
  padding: 20px; }

/*==================================
  Color Helper Classes
==================================*/
.bg-transparent {
  background-color: transparent !important; }

/*=====  End of Color Helper Classes  ======*/
/*=============================================
=            Section comment block            =
=============================================*/
footer {
  position: absolute;
  height: 30px; }

.footer {
  position: absolute;
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  background-color: #14212F; }
  .footer a {
    color: #fff; }
  .footer .nav-link {
    padding: 0;
    line-height: 40px; }

/*=====  End of Section comment block  ======*/
/* ===========================================
EMERGENCY STYLING
=========================================== */
/* VARIABLES */
/* COLORS */
/* GENERAL STYLING */
body {
  font-family: 'Roboto', sans-serif; }

/* HOME PAGE */
.home-wrapper img {
  height: 100%; }
.home-wrapper .home-form-container .home-form-btn {
  background-color: #00935B; }
.home-wrapper .home-form-container .home-form-btn:hover {
  background-color: #157A6E; }

/* TRIP DETAILS PAGE */
.trip-details-wrapper {
  background-color: #93D1D8; }

.dest-container .panel {
  background-color: inherit; }

.trip-details-container {
  background-color: white;
  padding: 1% 3%; }
  .trip-details-container .trip-details-btn {
    background-color: #00935B; }
  .trip-details-container .trip-details-btn:hover {
    background-color: #157A6E; }
  .trip-details-container .trip-details-label {
    font-weight: bold;
    font-size: 18px; }
  .trip-details-container .trip-details-info {
    font-weight: bold;
    font-size: 18px; }
    .trip-details-container .trip-details-info span {
      font-weight: normal; }
  .trip-details-container .details-find-btn {
    background-color: #00935B;
    padding: 2% 5%;
    width: 350px;
    height: 60px; }
  .trip-details-container .details-find-btn:hover {
    background-color: #157A6E; }
  .trip-details-container .tripdetails-biz {
    padding: 1%;
    border: 1px solid #376996;
    display: flex; }
    .trip-details-container .tripdetails-biz img {
      height: 100%; }
    .trip-details-container .tripdetails-biz div {
      font-size: 16px;
      padding: 2% 3%;
      margin: 2% 2%;
      display: flex;
      flex-direction: column; }
      .trip-details-container .tripdetails-biz div .tripdetails-biz-name {
        font-size: 17px; }
      .trip-details-container .tripdetails-biz div .star-container {
        margin: 0.5% 0;
        padding: 1% 0;
        display: flex;
        flex-direction: row;
        font-size: 20px; }
        .trip-details-container .tripdetails-biz div .star-container .fa-star {
          color: khaki; }
        .trip-details-container .tripdetails-biz div .star-container .fa-star-half-o {
          color: khaki; }

/*# sourceMappingURL=index.css.map */
